QLabel {
    color: black
}

#JudiWindow {
    background-color: #FFFFFF;
}

#sentDateEdit {
    width: 60px;
}

#countrycodeLineEdit {
    width: 10px;
}

#descriptionLineEdit, #recipientLineEdit {
    background-color: #FCF3CF;
}